/*
    To import scss files from node_modules folder use:
    @import '~package_name/file_name';

    To import Frontendler Sass Library use:
    @import '~frontendler-sass/frontendler';
*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
    line-height: 1;
    color: #5a6378;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    flex-flow: row;
    border-bottom: 1px solid #ddd;
    align-items: center;
    padding: 0 1em;

    .logo {
        display: flex;
        flex-flow: row;
        font-weight: bold;
        padding: 1em;
        color: #5a6378;
        align-items: center;
        img {
            display: block;
            width: 40px;
            padding-right: 10px;
        }
    }

    nav {
        display: flex;
        flex-flow: row;

        a {
            display: block;
            padding: 1em;
            color: #60b5cc;
        }
    }
}

p {
    opacity: 0.6;
    a {
        text-decoration: underline;
    }
}

.container {
    padding: 2em;
}

.button {
    display: table;
    border-radius: 3px;
    background: #5a6378;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: 40px;
    font-weight: 500;

    img {
        display: inline-block;
        width: 30px;
        padding-right: 10px;
        vertical-align: sub;
    }
}

.players {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    padding: 1em;

    .item {
        padding: 1em;
        flex: 0 0 25%;

        .wrapper {
            display: flex;
            align-items: center;
            padding: 1em;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .picture {
            padding-right: 1em;

            img {
                display: block;
                border-radius: 50%;
                width: 30px;
                height: 30px;
            }
        }

        .name {
            font-weight: bold;
        }

        .id {
            font-size: 0.8em;
            padding-top: 0.5em;
            opacity: 0.5;
        }
    }
}
